SECRET_KEY="insecure-key-for-dev-only"
ALLOWED_HOSTS=""

# Set to True to get debug logs (Django, SQL queries, HTTP requests, service logs, etc.) in console
LOGS=

# Set to True to use Django's debug mode
DEBUG=True

# Database
DATABASE_URL=""

# Auth0
AUTH0_DOMAIN=
AUTH0_AUDIENCE=